body {
  background-color: white;
}

a {
  width: 33.33%;
  float: left;
  font-size: 13px;
  color: whitesmoke;
  margin-bottom: 3.33%;
}



#skins {
}

#phrase {
  margin-bottom: 20px;
}

#logo {
  width: 100%;
}

.artwork {
  margin-bottom: 4px;
}

button {
  padding: 2%;
  margin: 2%;
  color: whitesmoke;
}